@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2433 0.0247 263.9506);
    --card: oklch(0.9834 0.0042 236.4956);
    --card-foreground: oklch(0.2433 0.0247 263.9506);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2433 0.0247 263.9506);
    --primary: oklch(0.5946 0.1398 250.2957);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9588 0.0086 247.9151);
    --secondary-foreground: oklch(0.3351 0.0331 260.9120);
    --muted: oklch(0.9653 0.0069 247.8959);
    --muted-foreground: oklch(0.5956 0.0381 257.8663);
    --accent: oklch(0.9288 0.0126 255.5078);
    --accent-foreground: oklch(0.3351 0.0331 260.9120);
    --destructive: oklch(0.6137 0.2039 25.5645);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9288 0.0126 255.5078);
    --input: oklch(0.9834 0.0042 236.4956);
    --ring: oklch(0.7641 0.0547 262.6222);
    --chart-1: oklch(0.5946 0.1398 250.2957);
    --chart-2: oklch(0.6626 0.1358 246.8090);
    --chart-3: oklch(0.7392 0.1154 242.0535);
    --chart-4: oklch(0.8208 0.0833 237.1834);
    --chart-5: oklch(0.8960 0.0484 232.9212);
    --sidebar: oklch(0.9834 0.0042 236.4956);
    --sidebar-foreground: oklch(0.2433 0.0247 263.9506);
    --sidebar-primary: oklch(0.5946 0.1398 250.2957);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9288 0.0126 255.5078);
    --sidebar-accent-foreground: oklch(0.3351 0.0331 260.9120);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.7641 0.0547 262.6222);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.375rem;
    --shadow-x: 0rem;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: -0.0625rem;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.03);
    --shadow-xs: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.03);
    --shadow-sm: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1.0625px hsl(0 0% 0% / 0.05);
    --shadow: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1.0625px hsl(0 0% 0% / 0.05);
    --shadow-md: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.05), 0rem 2px 4px -1.0625px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.05), 0rem 4px 6px -1.0625px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.05), 0rem 8px 10px -1.0625px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0rem 0.125rem 0.25rem -0.0625rem hsl(0 0% 0% / 0.13);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.9288 0.0126 255.5078);
    --card: oklch(0.2795 0.0368 260.0310);
    --card-foreground: oklch(0.9288 0.0126 255.5078);
    --popover: oklch(0.2795 0.0368 260.0310);
    --popover-foreground: oklch(0.9288 0.0126 255.5078);
    --primary: oklch(0.6964 0.1053 190.2392);
    --primary-foreground: oklch(0.2433 0.0247 263.9506);
    --secondary: oklch(0.3351 0.0331 260.9120);
    --secondary-foreground: oklch(0.7457 0.0304 254.7208);
    --muted: oklch(0.2795 0.0368 260.0310);
    --muted-foreground: oklch(0.5956 0.0381 257.8663);
    --accent: oklch(0.3351 0.0331 260.9120);
    --accent-foreground: oklch(0.7457 0.0304 254.7208);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.4455 0.0374 257.2808);
    --input: oklch(0.2795 0.0368 260.0310);
    --ring: oklch(0.4474 0.0343 261.3244);
    --chart-1: oklch(0.6964 0.1053 190.2392);
    --chart-2: oklch(0.7864 0.1143 186.5634);
    --chart-3: oklch(0.8598 0.0972 184.8875);
    --chart-4: oklch(0.9225 0.0685 183.5304);
    --chart-5: oklch(0.9773 0.0321 191.8965);
    --sidebar: oklch(0.2795 0.0368 260.0310);
    --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
    --sidebar-primary: oklch(0.6964 0.1053 190.2392);
    --sidebar-primary-foreground: oklch(0.2433 0.0247 263.9506);
    --sidebar-accent: oklch(0.3351 0.0331 260.9120);
    --sidebar-accent-foreground: oklch(0.7457 0.0304 254.7208);
    --sidebar-border: oklch(0.4455 0.0374 257.2808);
    --sidebar-ring: oklch(0.4474 0.0343 261.3244);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.375rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: -0.125rem;
    --shadow-opacity: 0.1;
    --shadow-color: #00FFFF;
    --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.05);
    --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.05);
    --shadow-sm: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.10), 0rem 1px 2px -1.125px hsl(180 100% 50% / 0.10);
    --shadow: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.10), 0rem 1px 2px -1.125px hsl(180 100% 50% / 0.10);
    --shadow-md: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.10), 0rem 2px 4px -1.125px hsl(180 100% 50% / 0.10);
    --shadow-lg: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.10), 0rem 4px 6px -1.125px hsl(180 100% 50% / 0.10);
    --shadow-xl: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.10), 0rem 8px 10px -1.125px hsl(180 100% 50% / 0.10);
    --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(180 100% 50% / 0.25);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
